{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>What is a meaning of this?</h1>
            <p>To be shot. You want to gave an assignment to somebody, and you want to track a time of that assignment execution.
            Then taskshot is for you. Create a "Tasl" - this is a description of what need to do. Then create a assignment from that task.
            From one task you can create unlimited number of assignments. When you create your assignment - just copy a link on it and send to whoever you want.
            That "whoever" follow a link, read a preview and can go further - to a details of assignment. When he read details, countdown starts... .</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

{% endblock %}
