{% extends "base.html" %}

{% block title %}Taskshot: assignments list.{% endblock %}

{% block content %}
  <div class="container">
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Email</th>
            <th>Created</th>
            <th>Taken</th>
            <th>Link</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for a in assignments %}
            <tr>
              <td><a href="{% url 'task_update' a.task_id%}">{{ a.task.title }}</a></td>
              <td>{{ a.email }}</td>
              <td>{{ a.created }}</td>
              <td>{{ a.taken }}</td>
              <td><a href="{% url 'assignment_preview' a.uid %}">{% url 'assignment_preview' a.pk %}</a></td>
              <td>
                <a href="{% url 'assignment_delete' a.pk %}" class="btn btn-danger"> - Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
